In [ ]:
a='C,B,A'
b=['F','G','H']
c=a.split(',')
c.extend(b)
c[0]='K'
d=c.pop(2)
print(d)
del c[1:4]
c.append('U')
print(c)

A
['K', 'H', 'U']

In [ ]:
a=input("輸入八位數字:")
print(a[4])

輸入八位數字:12345678
5

In [ ]:
a="My ID is B1206005"
b=a.split(' ')
print(len(b[3]))

8

In [11]:
a="I'm a student"
b=a.split(" ")
c=b[0].split("'")
print(c[1])

m